header{
    background: lightgreen;
    padding: 10px 0;
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
}
.logo  i {
    padding: 0 10px;
}
.mobile{
    display: none;
}


nav.desktop ul{
    list-style-type: none;
    position: relative;

}

nav.desktop li{
    font-size: 18px;
    font-weight: 300;
    padding: 0 30px;
    text-transform: capitalize;
    display: inline-block;

}
nav.desktop a{
    text-decoration: none;
    color: white;
}


footer {
    background: lightgreen;
    padding: 5px 0;
}

.footer-cp p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.footer-contato p {
    border-left: solid 1px white;   
    border-radius: 3px;
    color: white;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    padding-left: 2%;
}
.footer-md{
    text-align: right;
    
}
.footer-md a{
    text-decoration: none; 
    font-size: 24px;
    color: white;
    padding: 0 5px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;

}

section.erro-404 h2 {
    color: #444;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #444444;
    font-size: 28px;

}

section.erro-404 p {
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 8px;
}

section.erro-404 a {
    color: #444;
}
section.erro-404 i {
    margin: 0 10px;
    font-size: 36px;
}

.wraper-404 {
    position: absolute;
    width: 100%;
    padding: 0 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}




/*SLIDER TESTE ALTERAR */
section.container-slider {
    width: 100%;
    height: 600px;
    /*background-image: url('../img/bg-form.jpeg');
    !* BG cubre toda a tela  *!
    background-size: cover;*/
    position: relative;

}
.slider-single{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 2; /*vem primeiro que o form*/

}
.bullets{
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.bullets span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
}
.bullets span.active-slider{
    background: white;
}


/*MAPA*/
#map{
    width: 100%;
    height: 400px;
}



/*MOBILE*/

@media screen and (max-width: 700px){
    nav.mobile ul {
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        top: 55px;
        display: none;
        text-align: center;
    }

    nav.mobile li {
        font-weight: 300;
        width: 100%;
        font-size: 17px;
        display: block;
        background: #fefefe;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
    }

    nav.mobile a {
        color: #444;
        text-decoration: none;
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    .footer-contato  {
        display:none;
        }
    .footer-md {
        text-align: center;
    }
    .footer-md a{
        font-size: 16px;

    }
}