header{
    background: lightgreen;
    padding: 10px 0;
}

header .logo{
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
}
.logo  i {
    padding: 0 10px;
}
.mobile{
    display: none;
}


nav.desktop ul{
    list-style-type: none;
    position: relative;

}

nav.desktop li{
    font-size: 18px;
    font-weight: 300;
    padding: 0 30px;
    text-transform: capitalize;
    display: inline-block;

}
nav.desktop a{
    text-decoration: none;
    color: white;
}


footer {
    background: lightgreen;
    padding: 5px 0;
}

.footer-cp p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.footer-contato p {
    border-left: solid 1px white;   
    border-radius: 3px;
    color: white;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    padding-left: 2%;
}
.footer-md{
    text-align: right;
    
}
.footer-md a{
    text-decoration: none; 
    font-size: 24px;
    color: white;
    padding: 0 5px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;

}

section.erro-404 h2 {
    color: #444;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #444444;
    font-size: 28px;

}

section.erro-404 p {
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 8px;
}

section.erro-404 a {
    color: #444;
}
section.erro-404 i {
    margin: 0 10px;
    font-size: 36px;
}

.wraper-404 {
    position: absolute;
    width: 100%;
    padding: 0 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}




/*SLIDER TESTE ALTERAR */
section.container-slider {
    width: 100%;
    height: 520px;
    position: relative;

}
.slider-single{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 2;

}
.bullets{
    position: absolute;
    z-index: 4;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.bullets span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
}
.bullets span.active-slider{
    background: white;
}
.box-cadastro form{
    width: 93%;
    max-width: 450px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.box-cadastro form h2 {
    color: white;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.box-cadastro form input[type=email] {
    width: 80%;
    height: 55px;
    display: block;
    margin: 10px auto;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
    border: 0;
}

.box-cadastro form input[type=submit] {
    width: 80%;
    height: 55px;
    display: block;
    margin: 0 auto;
    background: #00c59e;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: 0;
}
/*Projetos*/
.box-projetos-img{
    width: 240px;
    height: 280px;
    margin: 10px auto;
}
.box-projetos-img img {
    border-radius: 5px;

}
.title{
    font-weight: 400;
    font-size: 38px;
    margin-left: 40px;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;

}
section.container-projetos{
    background: #e2e2e2;
    margin: 20px 10px;
    padding-bottom: 15px;
}

section.container-projetos h4{
    text-align: center;
    font-weight: 300;
    font-size: 22px;
}
section.container-projetos p{
    text-align: justify;
    font-size: 16px;
    padding: 5%;
}
section.container-projetos .w33 {
    width: 32.3%;
    border-radius: 8px;

}
section.container-projetos .box-projetos{
    background: #fefefe;
    margin: .5%;
}

/*SOBRE*/
.container-autor{
    margin-bottom: 120px;

}

.container-autor .box-especialidades{
    width: 100%;
    padding: 2%;
}

section.container-autor h3{
    font-size: 55px;
    color: #00c59e;
    display: inline-block;
    width: 25%;
    margin: 1px;

}
section.container-autor .box-especialidades p{
    font-weight: 300;
    text-align: justify;
    display: inline-block;
    margin-left: 10px;
    width: 74%;

}

.container-autor-img{
    background: #cccccc;
    border-radius: 5px;
    padding: 2%;
    width: 46%;
    margin: 2%;

}
.box-img_autor{
    display: block;
    max-width: 240px;
    max-height: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background: #333333;
    padding: 1%;
    padding-bottom: 5%;
}
.box-img_autor img{
    border-radius: 2%;

}
.box-sobre-autor{
    margin: 0 auto;
    width: 80%;


}
.container-autor-img h2{
    font-weight: 300;
    font-size: 36px;
    margin-left: 40px;
}
.container-autor-img p{
    text-align: justify;
    font-size: 16;
    font-weight: 200;
    margin: 2%;
}
/*MAPA*/
#map{
    width: 100%;
    height: 400px;
}

/*CONTATO FORM*/
.container-contato{
    padding: 40px 0;
    text-align: center;
}
.container-contato h3{
    font-weight: 300;
    font-size: 38px;
    margin-left: 40px;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    text-align: left;

}
.container-contato input[type=text]{


    width: 100%;
    margin: 8px 0;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color:#444;
    max-width: 500px;
}
.container-contato textarea{
    width: 100%;
    margin: 8px 0;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    font-size: 16px;
    color:#444;
    max-width: 500px;
    resize: vertical;
}
.container-contato input[type=submit]{
    background: #00c59e;
    width: 140px;
    height: 40px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

/*MOBILE*/

@media screen and (max-width: 700px){
    nav.mobile ul {
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        top: 55px;
        display: none;
        text-align: center;
    }

    nav.mobile li {
        font-weight: 300;
        width: 100%;
        font-size: 17px;
        display: block;
        background: #fefefe;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
    }

    nav.mobile a {
        color: #444;
        text-decoration: none;
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    .footer-contato  {
        display:none;
        }
    .footer-md {
        text-align: center;
    }
    .footer-md a{
        font-size: 16px;

    }
}